.checkout-header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid gray;
}

.two-col {
	grid-column: span 2 / 3;
}

.total-container {
	display: flex;
	justify-content: flex-end;
	padding: 0 2rem;
}

.total {
	font-size: 2rem;
}
